// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


#avatar {
    border-radius: 50%;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}


.bg-image {
    background: url("/img/background.jpg") no-repeat center;
    background-size: cover;
    height: 871px;

    h1 {
        font-size: 14rem;
        text-shadow: 4px 4px rgba(160, 82, 45, 0.51);
    }

    p {
        font-size: 2rem;
        text-shadow: 2px 2px rgba(160, 82, 45, 0.82);
    }
}


.promo {
    height: 300px;
    color: #ffffff;
    background: #c1946a;
    padding-top: 40px;

    h1 {
        font-size: 4rem;
        margin-bottom: 50px;
    }

    a {
        color: #ffffff;
        font-size: 3rem;
        background: #1a202c;
        padding: 20px 90px 20px;
        border-radius: 10px;
    }
}

.recent_news {
    height: 550px;
    color: #1a202c;

    .text {
        height: 100px;
    }

    .more_news {
        font-size: 1rem;
    }

    .card {
        margin: 15px;

        img {
            width: 286px;
            height: 180px;
            object-fit: cover;
        }
    }
}


.links {
    margin-bottom: 0 !important;
    padding: 0;

    img {
        height: 30px;
        width: 30px;
        margin: 0 10px;
    }
}


.menu-card{
    width: 30rem;
    margin: auto;
}

.admin .card {
    margin-top: 20px;
}

.news {
    min-height: 730px;
    .news-title{
        text-align: center;
        padding: 20px 0;
    }
    .card {
        margin-bottom: 20px;
        .text-info{
            padding: 0;
            margin: 0;
        }
    }
}

.services{
    min-height: 730px;
    .services-title{
        text-align: center;
        padding: 20px 0;
    }
    .card {
        width: 20rem;
        margin: 20px 0;
    }
}

.reviews{
    min-height: 730px;
    .reviews-title{
        text-align: center;
        padding: 20px 0;
    }
}

.bg-image-full {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
}


@media screen and (max-width: 1123px) {
    .promo{
        height: 400px;
    }
}
